*{
    margin: 0px;
    padding: 0px;
}

.barra{
    display: flex;
    justify-content: center;
    width: 100% ;
    height: 100px;
    background-color: orange;
}

.forma{
    margin: 20px;
}

.formas2d{
    display: flex;

}

.formas3d{
    display: flex;
}

.forma3d2d{
    margin:0px 76px;
}

.click{
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(250, 250, 250 );
    box-shadow: 3px 3px 5px #4333;
    cursor: pointer;    
}

.click:hover{
    background-color: rgb(235, 235, 235);
}

.quadrado{
    width: 80px;
    height: 80px;
    padding: 20px;
}
